/* Línea divisoria oscura entre el icono y el input en el InputGroup */
.login-form .input-group .input-group-text {
  border-right: 2px solid var(--space-cosmos-light); 
}

/* Estilos para los iconos de react-icons en los inputs */
.icon-input {
  font-size: 1.45rem;
  color: #000;
}
.login-page-container {
  background: var(--space-nebula);
}

.login-form {
  min-width: 320px;
  max-width: 380px;
  border: 1px solid var(--slate-400);
  background: var(--space-nebula);
}

.login-form h2 {
  font-weight: 600;
  color: var(--slate-100);
}

.login-form .form-control {
  font-size: 1.1rem;
}

.login-form .btn-primary {
  background: var(--space-nebula);
  border: 1px solid var(--slate-400);
  font-weight: 500;
  transition: background 0.2s;
}

.login-form .btn-primary:hover {
  background: var(--electric-blue-dark);
  color: var(--slate-100);
}

/* Mejora de responsividad para móviles ultra pequeños */
@media (max-width: 350px) {
  .login-form {
    min-width: 100vw;
    max-width: 100vw;
    border-radius: 0;
    padding: 1rem !important;
    box-shadow: none;
  }
  .login-page-container {
    padding: 0 !important;
  }
  .login-form h2 {
    font-size: 1.1rem;
  }
  .icon-input {
    font-size: 1.1rem;
  }
}
